<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <table>
      <tr style="background-color:aquamarine">
          <td>NOME</td>
          <td>IDADE</td>
          <td>CIDADE</td>
          <td>AÇÕES</td>
      </tr>
        <% clientes.forEach(function(item){
          %>
          <tr style="background-color:gainsboro">
              <td><%= item.nome %></td>
              <td><%= item.idade %></td>
              <td><%= item.cidade %></td>
              <td></td>
          </tr>
          <%
        })  %>

      </table>
    <p></p>
    
  </body>
</html>
